In [1]:
import pandas as pd
import random
# read the data from the downloaded CSV file.
data = pd.read_excel('HospitalDatabase.xlsx','Patients')

### Q2. Using iloc, retrieve the firstname and lastname of patients between indices 101 and 200

In [3]:
data.iloc[100:200,1:3]

    FirstName   LastName
100     Calla    Wasiela
101     Gipsy   Frankton
102    Jethro     Wharin
103       Viv    Aylward
104     Swift  Dreschler
..        ...        ...
195  Cathlene    Kidwell
196      Noam   Laguerre
197      Arie    Bayless
198    Janaye    O'Mohun
199      Fonz      Group

[100 rows x 2 columns]

###  Q5. Display full name of patients who are born in 1986

In [4]:
# reading dataofbirth column values
data['dob'] = data.DateOfBirth

In [5]:
# taking only the year details from column.
data['year1'] = pd.DatetimeIndex(data['dob']).year

In [6]:
# Passing the condition and getting patient's details who born in 1986
data_1986 = data[pd.DatetimeIndex(data.DateOfBirth).year==1986]

In [7]:
data_1986.iloc[:,1:3]

      FirstName    LastName
23     Gabriel       Joseph
24     Lincoln       Brenda
29          Ala     Halpert
72       Lolita       Darci
164       Fadel    Bernardt
238     Bentley      Kippax
367        Vale      Olanda
373       Britt     Dureden
386   Cristabel      Chatel
415  Constantia       Group
452      Morgan   Scrowston
561         Dom      Baglow
568     Ignazio     Melling
595    Homenick       Rings
639      Hashim       Slark
643       Ellie  Ramsbotham
674   Llewellyn       Group
714       Niles        Shaw
733      Yvette         Inc
777     Siouxie       Group
852       Carly       Group
868       Worth   Pickering
877        Arni     Baldack
909     Kuvalis    Coupland
922    Rebbecca  Rollingson
940         Wat     Fideler

### Qno.14 To find the number of null values in BloodPressureSystolic column

In [8]:
# reading the Ambulatory Visits file to get BloodPressureSystolic column
df = pd.read_excel('HospitalDatabase.xlsx','AmbulatoryVisits')

In [9]:
#to check whether the column as null data
BP = df['BloodPressureSystolic'].isnull()
print(BP)

0      False
1      False
2      False
3      False
4      False
       ...
945    False
946    False
947    False
948    False
949    False
Name: BloodPressureSystolic, Length: 950, dtype: bool

In [10]:
#to check how many null values in the column
BP = df['BloodPressureSystolic'].isnull().sum()
print(BP)

124

### we have 124 null values in BloodPressureSystolic column

### Qno.15 Replace all the null values in ReadmissionFlag with 0

In [11]:
# Reading the ReAdmissionRegistry
readmission = pd.read_excel('HospitalDatabase.xlsx','ReAdmissionRegistry')

In [12]:
# to check how many records has null values
readmissionflag = readmission['ReadmissionFlag'].isnull().sum()
print(readmissionflag)

526

In [13]:
#updating the null to zero
readmission['ReadmissionFlag'].fillna(value=0, inplace=True)

In [14]:
#checked whether all records got updated
readmissionflagupdated = readmission['ReadmissionFlag'].isnull().sum()
print(readmissionflagupdated)

0

In [15]:
#verified the output
readmission['ReadmissionFlag']

0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
      ...
715    0.0
716    0.0
717    0.0
718    0.0
719    0.0
Name: ReadmissionFlag, Length: 720, dtype: float64

### Qno 9 Get the list of patient ids which are not there in ReadmissionRegistry

In [24]:
#reading Patient id's from two data set data
dpatientid = data['PatientID']
readmissionid = readmission['PatientID'].drop_duplicates()

In [25]:
# Patient id not readmitted
Patinentid_nt = dpatientid[~dpatientid.isin(readmissionid)].dropna()

In [26]:
print(Patinentid_nt.count())

241

In [27]:
print(Patinentid_nt)

3        4
134    135
144    145
188    189
199    200
      ...
940    941
941    942
942    943
943    944
944    945
Name: PatientID, Length: 241, dtype: int64