### 59 . Create a dataframe by splitting provider name to firstname and lastname with names for the columns( 61 - 80)

In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats

In [ ]:
df = pd.read_excel("HospitalDatabase.xlsx","Providers")
df.head()

In [ ]:

# new data frame with split value columns
df[['ProviderFirstName','ProviderLastName']]= df["ProviderName"].str.split(" ",expand = True)
df.head()

### 60.  Predict the output of the program..
class Acc: 
def __init__(self, id): 
self.id = id
id = 555 

acc = Acc(111) 
print(acc.id)

In [ ]:
## Predict the output of the program.
class Acc: 
    def __init__(self,id): 
        self.id = id
        id = 555 

acc = Acc(111) 
print(acc.id)

Explanation: Instantiation of the class “Acc” automatically calls the method _init_ and passes the object as the self parameter. 111 is assigned to data attribute of the object called id.

# 61.  Show a graph by multiplotting on the same canvas . (Take any set of x & y values)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
dfpat = pd.read_excel("HospitalDatabase.xlsx","Patients")
dfpat.head()

In [ ]:
xgen=np.arange(len("Gender"))
xgen

In [ ]:
plt.bar(xgen,Race, label="Race")

plt.xticks(xgen,Gender)
plt.ylabel("Revenue(Bln)")
plt.title('US Technology Stocks')
plt.legend()

### 62 . Display the data for all 'White Female' patients above the age of 50

In [ ]:
 ## Python3 code to  calculate age in years
   
df = pd.read_excel("HospitalDatabase.xlsx","Patients")
df.head()

In [ ]:
df['Date'] = pd.to_datetime(df.DateOfBirth)
df['Date']

In [ ]:
import datetime 
def from_dob_to_age(born):
    today = datetime.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [ ]:
df['Date'].apply(lambda x: from_dob_to_age(x))

In [ ]:
df1 = df['Date'].apply(lambda x: from_dob_to_age(x))
print(type(df1))

In [ ]:
df2 = df1.to_frame()
df['age'] = df2

In [ ]:
df

In [ ]:
# filter dataframe 
dfage = display(df[(df["Gender"]=="Female") &  (df["Race"] == "White")  & (df["age"] > 50)])
dfage

### 63. Using loc, retrieve the firstname and lastname of patients between indices 101 and 200

In [ ]:
dfname = pd.read_excel("HospitalDatabase.xlsx","Patients")
dfname.head()

In [ ]:
dfname = dfname.loc[101:200, ['PatientID', 'FirstName' , 'LastName']]
dfname

### 64.  Using numpy functions, multiply the following arrays
a=np.arange(6).reshape(2,3)
b=np.arange(6).reshape(3,2)"

In [ ]:
a=np.arange(6).reshape(2,3)
a

In [ ]:
a.shape

In [ ]:
b=np.arange(6).reshape(3,2)
b

In [ ]:
b.shape

In [ ]:
## Returns the scalar or dot product of two arrays
print(np.dot(a,b))

In [ ]:
## The matmul() function gives us the matrix product of two 2-d arrays.

print(np.matmul(a,b))

### 65. Get the count of number of patients based on service and primary diagnosis

In [ ]:
dfcnt = pd.read_excel("HospitalDatabase.xlsx", "ReAdmissionRegistry")
dfcnt

In [ ]:
dfcnt.groupby(["Service", "PrimaryDiagnosis"])["PatientID"].count()

###  66 . np.arange(1,31).reshape(6,5), find array slicing to get the elements 4,5,24,25,29,30

In [ ]:
 np.arange(1,31)

In [ ]:
x = np.arange(1,31).reshape(6,5)
x

In [ ]:
print(x[0,3:])

In [ ]:
print(x[4,3:])

In [ ]:
print(x[5,3:])

In [ ]:
## Second method
listing = np.arange(1,31).reshape(6,5)
#print(listing[0,3:])
print(listing[[0,0,4,4,5,5],[3,4,3,4,3,4]])

###  67. Make a pivot table by counts the no. of patients from the admission date till discharge date

In [ ]:
dfcnt = pd.read_excel("HospitalDatabase.xlsx", "Discharges")
dfcnt

In [ ]:
table = dfcnt.pivot_table(index=['AdmissionDate','DischargeDate'], columns='PatientID',
                       aggfunc="count")
table

In [ ]:
table = dfcnt.pivot_table(index='PatientID', columns='AdmissionDate', 
                       aggfunc="count")
table

### 68. Display the data where actual LOS is greater than expected LOS

In [ ]:
dfdata = pd.read_excel("HospitalDatabase.xlsx", "ReAdmissionRegistry", index_col = 'PatientID', 
                       parse_dates = ["DischargeDate", "AdmissionDate" ])
dfdata.head()

In [ ]:
dfdata["DischargeDate"] - dfdata["AdmissionDate"]

In [ ]:
dfdata["ActualLOS"] = dfdata["DischargeDate"] - dfdata["AdmissionDate"]

In [ ]:
dfdata["AdmissionDate"].dtypes

In [ ]:
dfdata["ActualLOS"].dtypes

In [ ]:
dfdata["ExpectedLOS"].dtypes

### 69. Details of the patients whose firstname or lastname contains string "lau" , should be case insensitive

In [ ]:
dfname = pd.read_excel("HospitalDatabase.xlsx", "Patients")
dfname.head()

In [ ]:
dfname['flag']=dfname['LastName'].str.contains('lau',case=False)| dfname['FirstName'].str.contains('lau',case=False)
display(dfname[(dfname['flag']==True)])

### 70. Plot a graph to show the distribution of expected mortality

In [ ]:
dfdis = pd.read_excel("HospitalDatabase.xlsx", "ReAdmissionRegistry")
dfdis

In [ ]:
sns.displot(dfdis, x="ExpectedMortality",col="Service")

In [ ]:
sns.displot(dfdis, x="ExpectedMortality",kind="kde",bw_adjust=.25)

In [ ]:
sns.displot(dfdis, x="ExpectedMortality",hue="PrimaryDiagnosis",kind="kde",multiple="stack")

### 71. Create a visualization on the count the no. of patients based on primary diagnosis

In [ ]:
dfviz = pd.read_excel("HospitalDatabase.xlsx", "ReAdmissionRegistry")
dfviz.head()

In [ ]:
# groupby() method worth mentioning is agg(), which lets you run a bunch of different 
# functions on your DataFrame simultaneously. For example, we can generate a simple statistical
# summary of the dataset as follows:
    
dfviz.groupby(['PrimaryDiagnosis']).PatientID.agg([len])

In [ ]:
import matplotlib.pyplot as plt

dfviz.groupby(['PrimaryDiagnosis']).PatientID.agg([len]).plot(kind='bar',color=['r'],
                                        title =' no. of patients based on primary diagnosis',
                                                             ylabel = 'PatientID Count',
                                                             xlabel = 'PrimaryDiagnosis',
                                                             figsize=(10,6))

### 72. List male patients over the age of 60 who have undergone surgery from January-March 2019

In [ ]:
# We need two tables here:
df_pnts = pd.read_excel("HospitalDatabase.xlsx" , "Patients" , index_col="PatientID")
df_pvdrs = pd.read_excel("HospitalDatabase.xlsx" , "Providers" , index_col="ProviderID")
display(df_pnts)
display(df_pvdrs)

In [ ]:
# First, we merge pnts with pvdrs with "use_id" as our common column

In [ ]:
#check for null values
print(df_pnts.isnull().sum())

In [ ]:
# filter down to just the ProviderSpecialty
print(df_pvdrs["ProviderSpecialty"].unique())

### 73. Delete the column 'DischargeDispostion' iteratively

In [ ]:
df_dis = pd.read_excel("HospitalDatabase.xlsx" , "Discharges")
df_dis.head()

In [ ]:
# Deleting columns using del and for loop

for col in df_dis.columns:
    if 'DischargeDisposition' in col:
        del df_dis[col] 
        
df_dis.head()

### 74. Get the list of ReasonForVisit

In [ ]:
df_rv = pd.read_excel("HospitalDatabase.xlsx", "EDVisits")
df_rv.head()

In [ ]:
# Finding the list of unique values in the column ReasonForVisit
print(sorted(df_rv['ReasonForVisit'].unique()))

### 75. Calculate the time spent in ED Department for each visit

In [ ]:
df_edvisit = pd.read_excel("HospitalDatabase.xlsx", "EDVisits", index_col = "EDVisitID")
df_rv.head()

In [ ]:
# EDVisitId is unique column
df_rv["EDVisitID"].nunique()

In [ ]:
df_rv["VisitDate"].dtype

In [ ]:
df_rv["EDDischargeTime"].dtype

### 76.Reverse the string without using inbuilt functions

In [ ]:
# Method 1: 

#user-defined function
def findReverse(string):
   # find reverse of string
   reverse = string[::-1]
   return reverse

# take inputs
string = input('Enter the string: ')

# calling function and display result
reverse = findReverse(string)
print('The reverse string is', reverse)

In [2]:
# Method 2:

df_pnts = pd.read_excel("HospitalDatabase.xlsx" , "Patients" , index_col="PatientID")
df_pnts.head()

          FirstName LastName                DateOfBirth Gender   Race Language
PatientID
1             Lanni      Sue 1960-01-01 00:00:00.000000   Male  White  English
2               Far    Myers 1985-11-15 02:08:42.089852   Male  White  English
3           Devlin   Michael 1976-04-15 02:52:09.762384   Male  White  English
4           Carmine    Texas 1968-10-15 03:32:13.634776   Male  White  English
5             Tann      Bama 1962-05-01 19:12:58.949547   Male  White  English

In [5]:
# x[::-1]  is used to reverse the string of the column in pandas along with the apply function as shown below

df_pnts['First_Name'] = df_pnts.loc[:,'FirstName'].apply(lambda x: x[::-1])
df_pnts.head()

,FirstName,LastName,DateOfBirth,Gender,Race,Language,First_Name
PatientID,,,,,,,
1,Lanni,Sue,1960-01-01 00:00:00.000000,Male,White,English,innaL
2,Far,Myers,1985-11-15 02:08:42.089852,Male,White,English,raF
3,Devlin,Michael,1976-04-15 02:52:09.762384,Male,White,English,nilveD
4,Carmine,Texas,1968-10-15 03:32:13.634776,Male,White,English,enimraC
5,Tann,Bama,1962-05-01 19:12:58.949547,Male,White,English,nnaT

### 77. Create a bar chart by making list on Acuity & EDDischarge column (with no duplicates) & make the hatchs onto the bar by using set_hatch() method

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

plt.rcParams["figure.figsize"] = [7.50, 3.50]
plt.rcParams["figure.autolayout"] = True

df = pd.DataFrame(np.random.rand(5, 2), columns=['a', 'b'])
ax = plt.figure().add_subplot(111)
bars = df.plot(ax=ax, kind='bar')
hatches = ["*", "/", "o", "x"]

for patch in bars.patches:
   patch.set_hatch(hatches[np.random.randint(10)%len(hatches)])

plt.show()

### 78 . Find reasonForVisit with highest count of acuity 5 patients

### 79.  Which PrimaryDiagnosis has the biggest difference between maximum and minimum Expected LOS?

### 80. Write a code snippet to print different ProviderSpecialty ( use groupby and get the list of the groups)

### 81. Display full name of patients

In [22]:
df = pd.read_excel("HospitalDatabase.xlsx", "Patients")
df

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.089852,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762384,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.634776,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.949547,Male,White,English
...,...,...,...,...,...,...,...
940,941,Wat,Fideler,1986-05-26 00:01:19.761035,Male,Black/African-American,English
941,942,Wandie,Baythrop,1970-06-10 21:41:03.814278,Male,Black/African-American,English
942,943,Diahann,Smeeton,1983-01-08 21:49:27.883969,Male,Black/African-American,English
943,944,Panchito,Sharple,1963-06-05 07:57:05.569185,Male,Black/African-American,English
944,945,Walsh,Calvie,1972-08-06 03:40:03.454345,Male,Black/African-American,English

In [24]:
a = ' '.join([FirstName,LastName])

NameError: name 'FirstName' is not defined

### 82. Retrieve the rows where SBP<140 and DBP<80

### 83.Create the plot where x= np.arange(0, 10, 0.1) and y= np.sin(np.pi * x) + x by adding two axes to a figure object at [0.1,0.1,0.9,0.9] & [0.2,0.6,0.3,0.3]

### 84. Find the list of patients whose ExpectedLOS is greater than the value given by the user

### 85.Find count of Black/African American, English Females

In [13]:
df = pd.read_excel("HospitalDatabase.xlsx" , "Patients" )
df.head()

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.089852,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762384,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.634776,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.949547,Male,White,English

In [44]:
df_new = df.groupby(["Gender", "Race","Language"]).get_group(("Female","White","English"))
df_new

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
315,316,Darla,Plain,1978-02-27 01:33:35.681176,Female,White,English
316,317,Bins,Fance,1965-01-09 14:04:46.634876,Female,White,English
317,318,Ximenes,Lincke,1975-09-23 19:53:56.655775,Female,White,English
318,319,Virginie,Group,1965-02-26 09:13:19.432612,Female,White,English
319,320,Gerard,MacMurray,1960-06-21 07:18:42.147589,Female,White,English
...,...,...,...,...,...,...,...
870,871,Tabby,Bowler,1977-02-07 05:35:23.665997,Female,White,English
871,872,Chev,Hawford,1987-05-03 08:51:27.568000,Female,White,English
872,873,Idell,Orbine,1977-01-21 05:13:25.467345,Female,White,English
873,874,Schroeder,McGarvey,1971-12-09 11:56:22.068013,Female,White,English
874,875,Freeland,Bowler,1978-06-29 07:28:28.948966,Female,White,English

In [45]:
df_count = df.groupby(["Gender", "Race","Language"]).get_group(("Female","White","English"))['PatientID'].count()
df_count

216